HOMEPAGE_VAR_PLEX_KEY=variable
HOMEPAGE_VAR_PROWLARR_KEY=variable
HOMEPAGE_VAR_SONARR_KEY=variable
HOMEPAGE_VAR_RADARR_KEY=variable
HOMEPAGE_VAR_SEERR_KEY=variable
HOMEPAGE_VAR_BAZARR_KEY=variable
HOMEPAGE_VAR_TRANSMISSION_PASS=variable
HOMEPAGE_VAR_MY_SERVER_IP=variable
HOMEPAGE_VAR_LATITUDE=variable
HOMEPAGE_VAR_LONGITUDE=variable
